# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/
/out/
/dist/
/build/

# Next.js Build Output
# The directory containing the production build and cache.
**/.next/**

# Production Build directory (if you are using 'next export' or similar)
/out

# Configuration files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Runtime data
pnpm-debug.log
yarn-debug.log
yarn-error.log
# Npm is now using log files in the home directory by default
# npm-debug.log*

# Mac/OS specific files
.DS_Store

# VSCode settings/cache
.vscode/

# You may want to keep the next-env.d.ts file as it's needed for TypeScript
# but if you have a local copy of other d.ts files that are purely generated:
# *.d.ts