/* globals.css */

html, body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  height: 100%;
  background: linear-gradient(180deg, #1E120B 37.98%, #BB9457 100%);
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

/* SPLASH SCREEN */
.page-container {
  padding-top: 68px;
  padding-left: 26.67px;
  padding-right: 26.67px;
}

.title-text {
  color: var(--Foundation-Yellow-Normal, #BB9457);
  font-family: 'Inter', sans-serif;
  font-size: 34.644px;
  font-style: normal;
  font-weight: 700;
}

.description-text {
  color: #F1E8E8;
  font-family: 'Inter', sans-serif;
  font-size: 22.208px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.65px; /* 120% */
}

.dashboard-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 6.667px;
  margin-top: 59.33px;

  border-radius: 10.667px;
  background: var(--Foundation-Yellow-Normal, #BB9457);

  color: #170E08; 
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 22.208px;
  font-weight: 700;
  line-height: 26.65px; 
  cursor: pointer;
  border: none;
}

.info-container {
  width: 100%;
  height: auto;
  padding: 13.33px;
  align-items: center;
  border-radius: 10.667px;
  opacity: 0.5;
  background: var(--Foundation-Brown-Darker, #170E08);
  margin-top: 26.67px;
}

.info-text {
  color: #F1E8E8;
  font-family: 'Inter', sans-serif;
  font-size: 11.548px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.857px; 
}
/* END OF SPLASH SCREEN */

/* DASHBOARD */

.dashboard-container {
  padding-top: 68px;
  padding-left: 26.67px;
  padding-right: 26.67px;
}

.dashboard-title {
  color: var(--Foundation-Yellow-Normal, #F8F4EE);
  font-family: 'Inter', sans-serif;
  font-size: 34.644px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.wifi-container {
  margin-top: 19px;
  padding: 9.67px;
  width: 100%;
  height: auto;
  border-radius: 5.33px;
  background: var(--Foundation-Brown-Darker, #321E12);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.wifi-time {
  color: var(--foundation-yellow-dark-hover, #998A64);
  font-family: 'Inter', sans-serif;
  font-size: 54.187px;
  font-style: normal;
  font-weight: 700;
  line-height: 54.187px;
}

.wifi-text {
  color: var(--foundation-yellow-dark-hover, #998A64);
  font-family: 'Inter', sans-serif;
  font-size: 17.766px;
  font-style: normal;
  line-height: 17.766px;
}

.wifi-bold {
  font-weight: 700;
}

.wifi-subtext {
  font-weight: 400;
}

.line-separator {
  margin-top: 26.67px;
  width: 100%;
  height: 0.333px;
  background-color: #998A64;
}